
.map-container {
    max-width: unset !important;
}
.map-container .w-100 {
    width: unset !important;
  }

  .resize-handle {
    width: 10px;
    height: 100%;
    background-color: #59E0C8;
    position: absolute;
    top: 0;
    right: -5px;
    cursor: ew-resize;
  }
  