#root {
  margin: 0 auto;
  background-color: #BCF4EF;
}

span {
  display: flex;
  justify-content: center;
  color: rgb(100, 100, 156);
  margin-left: 10px;
  font-weight: bolder;
}

.locations_container, .vendormap_container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: center;
margin-right: 20px;
}

#vendormap {
  border: 2px solid #59E0C8;

}

#map-container {
  max-width: 100%;
}
.map-container {
  max-width: 100%;
}

.Button {
  background-color:#EA3187
}